<ul id="topmenu">
	<li><%= link_to '홈', root_url %></li>
	<% if logged_in? %>
		|<li><%= link_to current_user, user_path(current_user.to_s) %></li>
		<% if current_user.admin? %>
			|<li><%= link_to '사이트 관리', admin_path %></li>
		<% end %>
		|<li><%= link_to '로그아웃', session_path, :method => :delete %></li>
	<% else %>
		|<li><%= link_to '로그인', new_session_path %></li>
		|<li><%= link_to '새 계정', new_user_path %></li>
	<% end %>
</ul>
	
	