<div>
<ul id='menu'>
	<li class="<%= menu_current('home') %>"><a href="/home" >Home</a></li>
	<li class="<%= menu_current('archive') %>"><a href="/archive" >자료실</a></li>
	<li class="<%= menu_current('forum') %>"><a href="/forum" >포럼</a></li>
	<li class="<%= menu_current('community') %>"><a href="/community" >커뮤니티</a></li>
	<!-- Customize this tags with your own! 
	<li><a href="/group_name" class="<%= menu_current('group_name') %>">GroupName</a></li>
	<li><a href="/group_name" class="<%= menu_current('group_name') %>">GroupName</a></li>
	<li><a href="/group_name" class="<%= menu_current('group_name') %>">GroupName</a></li>
	-->
</ul>
</div>
